@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

html {
	height: 100%;
	font-family: helvetica, arial;
	font-size: 12px;
	font-weight: 800;
	color: #e1b12c;
	margin: 0;
 	padding: 0;
}

body {
	background: url("drum-dark.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*Instructions*/
.instuctions {
	padding: 20px;
	text-align: center;
  	font-size: 1.3rem;
}

/*Keyboard*/
.container {
	position: absolute;
	top: 43%;
	left:10%;
	right: 10%;
	width: 80%;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.keys {
	padding: 10px;
	margin: 10px;
	width: 75px;
	height: 75px;
	border: .4rem #dcdde1 solid;
	border-radius: 50%;
	display: inline-block;
	background: #192a56;
	opacity: .85;
	line-height: 180%;
	text-transform: uppercase;
	transition: all .07s ease;
  	text-shadow: 0 0 .5rem #353b48;
}

.keys p {
	margin-top: 25%;
}


.letter {
	font-family: 'Black Ops One', cursive, arial;
	font-size: 40px;
	color: #f5f6fa;
}

/*Keyboard Keys Pressed*/
.pressed, .keys:hover {
	transform: scale(.95);
	border: .4rem #e1b12c solid;
	box-shadow: 0 0 1rem #e1b12c;
}

/*Media Queries*/
@media (max-width: 450px) { 
	.container {
		top: 0%;
		left:0%;
		right: 0%;
		transform: scale(.75);
	}
}

@media (min-width: 451px) and (max-width: 850px) { 
	.container {
		top: 40%;
	}
}
