@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 12px;
	font-family: 'Rammetto One', cursive;
}

:root {
	--border: 25px;
	--blur: 10px;
	--color: #f5f6fa;
}

h1 {
	padding: 0 20%;
	font-size: 2.3rem;
	font-weight: 300;
	color: var(--color);
	text-shadow: 	1px 1px 2px #f5f6fa, 
					0 0 1em #7f8fa6, 
					0 0 0.2em #2f3640;
}

.controls {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1.5rem;
	color: #f5f6fa;
	text-shadow: 	0px 1px 1px #2f3640, 
					0 0 1em #7f8fa6, 
					0 0 0.2em #f5f6fa;

}

input {
	border: 0;
}

.frame {
	width: 70%;
	margin: 0 auto;
	padding: var(--border);
	background: var(--color);
	border-radius: 10px;
	box-shadow: 7px 7px 8px 4px rgba(113, 128, 147,.4);
}

img {
	width: 100%;
	border-radius: 10px;
	filter: blur(var(--blur));
	box-shadow: -1px -1px 3px 1px rgba(113, 128, 147,.8);
}

@media (max-width: 800px) { 
	h1 {
		font-size: 1.5rem;
	}

	.controls {
		font-size: 1rem;
	}
}